/* Css Grid General */

body {
    background-color: black;
}

.grid-dob {
    margin-top: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-trip {
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-four {
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Responsive css grid */

@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
    .grid-dob {
        margin: 1em;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-trip {
        margin: 1em;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-four {
        margin: 1em;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
    }
}
