/* Css Grid General */

.grid-dob {
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.grid-trip {
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.grid-four {
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

/* Responsive css grid */
@media only screen and (min-width: 600px) {
    .grid-dob {
        grid-template-columns: 1fr;
    }
    .grid-trip {
        grid-template-columns: 1fr;
    }
    .grid-four {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .grid-dob {
        grid-template-columns: 1fr;
    }
    .grid-trip {
        grid-template-columns: 1fr;
    }
    .grid-four {
        grid-template-columns: 1fr;
    }
}
